@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #e9f0fb;

  font-family: "Gilroy-Regular", sans-serif;
}

a {
  cursor: pointer;
}
.stats-table {
  border-collapse: separate;
  border-spacing: 16px;
}
.result-table {
  border-collapse: separate;
  border-spacing: 0 16px;
}

td,
th {
  margin: 0.3rem;
  padding: 0.4rem;
}
td {
  background-color: #d0cced;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* LOADING */
.loading-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 3px solid gray;
  border-radius: 50%;
  border-top-color: blue;
  animation: spinner 0.3s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-main {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loading-bar-container {
  min-height: 50vh;
  display: grid;
  place-items: center;
}

.loading-bar {
  width: 3rem;
  height: 3rem;
  border: 3px solid gray;
  border-radius: 50%;
  border-top-color: blue;
  animation: spinner 0.8s ease-in-out infinite;
}
